* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.ant-form-item-label > label {
  height: 42px !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  color: #7b8093 !important;
}

.ant-radio-wrapper {
  > span {
    line-height: 42px !important;
  }
}
